 @import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
 @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

*{
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Lato', sans-serif;
	//background: #005f5f;
	color: #FFF;
}
.fill pre{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

#root{
		margin: 0;
	padding: 0;
}
.inp_fill{
     border: none;
     background: none;
     outline: none;
     font-family: inherit;
     font-size: 17px;
     padding-bottom: 4px;
     border-bottom: 1px solid #000;
     text-align:left;
    color: palevioletred;
	width: 150px;
	height: 70px;

}
input.inp_fill:focus {
    border: none;
    background: none;
    outline: none;
    font-family: inherit;
    font-size: 17px;
    padding-bottom: 4px;
    border-bottom: 1px solid #0d70ad !important;
    text-align:left;
    color: palevioletred;

}

.fill_next{
    background: #5daa05;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 18px;
    cursor:pointer

}
/* button css */
 .round  {
     max-width: 960px;
     margin: 0 auto;
     position: absolute;
     top: 48%;
     left: 27%;
 }
 .round a {
     color: #4bb32c;
 }
 .round a.button_wrong {
     color: #e8393d;
 }
.correct_img{
    background-image: url(../../images/yes_no.png);
    background-position: -56px;
    width: 49px;
    height: 53px;
    background-repeat: no-repeat;
}


 .round .button, .round .button_wrong{
     display: inline-block;
     width: 92px;
     margin: 20px;
     position: relative;
     overflow: hidden;
     border: 1px solid #5daa05;
     -webkit-transition: color .5s;
     transition: all .2s;

 }
 .round .button_wrong{
     border: 1px solid #e8393d;
 }
 .round .button:before, .round .button_wrong:before{
     content: "";
     position: absolute;
     z-index: -1;
     background: #4bb32c;
     height: 150px;
     width: 200px;
     border-radius: 50%;
 }
 .round .button_wrong:before{
     background: #e8393d;
 }

 .round .button:hover, .round .button_wrong:hover{
     color: #fff;
 }

 .round .button:before, .round .button_wrong:before {
     top: 100%;
     left: 100%;
     transition: all .7s;

 }
 .round .button:nth-child(1):before, round .button_wrong:nth-child(1):before{
     top: 100%;
     left: 100%;
     transition: all .7s;
 }

 .round .button:nth-child(1):hover:before, .round .button_wrong:nth-child(1):hover:before {
     top: -30px;
     left: -30px;
 }

 /* button css */

 @-webkit-keyframes hvr-pulse-grow {
     to {
         -webkit-transform: scale(1.1);
         transform: scale(1.1);
     }
 }
 @keyframes hvr-pulse-grow {
     to {
         -webkit-transform: scale(1.1);
         transform: scale(1.1);
     }
 }
 .grow-rotate {
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: perspective(1px) translateZ(0);
     transform: perspective(1px) translateZ(0);
     box-shadow: 0 0 1px transparent;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-property: transform;
     transition-property: transform;
 }
 .grow-rotate:hover, .grow-rotate:focus, .grow-rotate:active {
     -webkit-transform: scale(1.1) rotate(4deg);
     transform: scale(1.1) rotate(4deg);
 }
.answer{
    cursor: pointer;
	 font-size: 20px;
	 margin-left:15px;
	 background: #f2dede;
	 padding: 10px 12px;
	/* height:30px*/
 }
#points_fill_game{
    position: relative;
    font-size: 2.0em;
    color: #206693;
    text-align: right;
    top: 22px;
    right: 35px;
    text-shadow: 1px 0px 6px #f7fbfd, 1px -1px 13px #7b7d7d;
    font-weight: bold;
}
.answ_fill{
	border: none;
	background: none;
	outline: none;
	font-family: inherit;
	font-size: 17px;
	padding-bottom: 4px;
	text-align: left;
	color: palevioletred;
	width: 100%;
	height: 70px;
}
.used_answ {
    cursor: pointer;
	font-size: medium;
	margin-left: 0;
	background: rgb(242, 222, 222);
	padding: 3px;
}
 .correct_next{
    background: #009688;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 18px;
    position: absolute;
    bottom: -9%;
    left: 68%;
	 border-radius:20px;

}
 .correct_next:hover{
	 //height: 48px;
	// width: 81px;
	 border-radius: 56px;
	 background: #045d54;
	 margin: auto;
	 font-size: 20px;
	 box-shadow: 0 1px 7px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
	 cursor: pointer;
	 -webkit-transition: border-radius ease-in 100ms;
	 transition: border-radius ease-in 100ms;
 }


.correct{
    display: block;
    color: #5daa05;
    font-size: 28px;
    font-weight: 900;
    margin: 11px 12px 10px;
}
 .paper{
     padding: 30px;
     background: #fff;
     min-height: 150px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
     position: relative;
     margin-bottom: 30px;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     -ms-border-radius: 2px;
     border-radius: 2px;
     width: 60vw;
 }
 .answ_back{
     padding: 35px;
     background: #f1ffe0;
     min-height: 150px;
     box-shadow: 3px 4px 10px 5px rgba(0, 0, 0, 0.2);
     position: absolute;
     margin-bottom: 30px;
     border-radius: 2px;
     max-height: 130px;
     transition:all 2s ease-in;
     left:-120px;
     opacity: 0;
     visibility: hidden;
	 z-index: 80;
     width: 300px;
     top:200px


 }
 #coins_correct {
     width: fit-content;
     font-weight:800;
     position: absolute;
     top:0;
     left: 50%;
     opacity:0;
     transform: translateX(-93px);
     font-size: 17px;
     color: #e43c1e;
 }
 h3.fill_quest{
     font-size: 23px!important;
     color: #2480ad;
     font-weight: bold;
     text-shadow: 1px 0px 6px #f7fbfd, 1px -1px 13px #7b7d7d;
     width: 92%;

 }

 /* Float Shadow */
 .hvr-float-shadow {
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: perspective(1px) translateZ(0);
     transform: perspective(1px) translateZ(0);
     box-shadow: 0 0 1px transparent;
     position: relative;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-property: transform;
     transition-property: transform;
 }
 .hvr-float-shadow:before {
     pointer-events: none;
     position: absolute;
     z-index: -1;
     content: '';
     top: 100%;
     left: 5%;
     height: 10px;
     width: 90%;
     opacity: 0;
     background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
     background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
     /* W3C */
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-property: transform, opacity;
     transition-property: transform, opacity;
 }
 .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
     -webkit-transform: translateY(-5px);
     transform: translateY(-5px);
     /* move the element up by 5px */
 }
 .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
     opacity: 1;
     -webkit-transform: translateY(5px);
     transform: translateY(5px);
     /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
 }

 .none{
	display: none;
}
.jumbotron h1 {
	color: #353535;
}
 .button_green_small{

 margin: 2%;
 outline: none;
/*border: 2px solid #58B000;*/
 border-radius: 31px;
 font-family: arial, helvetica, sans-serif;
 padding: 2px 9px 2px 9px;
 text-decoration: none;
 display: inline-block;
 text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
 font-weight: bold;
 color: #FFFFFF;
 background-color: #85FF47;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#85FF47), to(#034218));
 background-image: -webkit-linear-gradient(top, #85FF47, #034218);
 background-image: -o-linear-gradient(top, #85FF47, #034218);
 background-image: linear-gradient(to bottom, #85FF47, #034218)
 }
 .button_green{
	 position: relative;
	 z-index: 182;
	 top: 2px;
	 margin:1%;
	 outline: none;
	// border:2px solid #58B000;
	 -webkit-border-radius: 31px; -moz-border-radius: 31px;border-radius: 31px;font-size:16px;font-family:arial, helvetica, sans-serif;
	 padding: 9px 20px 9px 20px;; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
	 background-color: #4b5f69; background-image: -webkit-gradient(linear, left top, left bottom, from(#4b5f69), to(#7b7979));
	 background-image: -webkit-linear-gradient(top, #4b5f69, #7b7979);
	 background-image: -moz-linear-gradient(top, #4b5f69, #7b7979);
	 background-image: -ms-linear-gradient(top, #4b5f69, #7b7979);
	 background-image: -o-linear-gradient(top, #4b5f69, #7b7979);
	 background-image: linear-gradient(#4b5f69, #7b7979);;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4b5f69, endColorstr=#7b7979);
 }


 .button_green:hover {
	 position: relative;
	 top: 2px;
	 margin:1%;
	 outline: none;
	// border:2px solid #58B000;
	 /*background-color: #63ff14; */
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#607D8B), to(#2e3b42));
	 background-image: -webkit-linear-gradient(top, #607D8B, #2e3b42);
	 background-image: -moz-linear-gradient(top, #607D8B, #2e3b42);
	 background-image: -ms-linear-gradient(top, #607D8B, #2e3b42);
	 background-image: -o-linear-gradient(top, #607D8B, #2e3b42);
	 background-image: linear-gradient(to bottom, #607D8B, #2e3b42);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#607D8B, endColorstr=#2e3b42);


 }

 .button_green_com{
	 position: relative;
	 z-index: 182;
	  top: 24px;
	 /*margin: 1%;*/
	 outline: none;
	 /*//right: 0;*/

 // border:2px solid #58B000;
	 -webkit-border-radius: 31px; -moz-border-radius: 31px;border-radius: 31px;font-size:16px;font-family:arial, helvetica, sans-serif;
	 padding: 9px 20px 9px 20px;; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
	 background-color: #4b5f69; background-image: -webkit-gradient(linear, left top, left bottom, from(#4b5f69), to(#7b7979));
	 background-image: -webkit-linear-gradient(top, #4b5f69, #7b7979);
	 background-image: -moz-linear-gradient(top, #4b5f69, #7b7979);
	 background-image: -ms-linear-gradient(top, #4b5f69, #7b7979);
	 background-image: -o-linear-gradient(top, #4b5f69, #7b7979);
	 background-image: linear-gradient(#4b5f69, #7b7979);;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4b5f69, endColorstr=#7b7979);
 }
 .button_green_com:hover {
	 position: relative;
	 z-index: 182;
	// top: -28px;
	// margin: 1%;
	 outline: none;
	// right: 0;
 // border:2px solid #58B000;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#607D8B), to(#2e3b42));
	 background-image: -webkit-linear-gradient(top, #607D8B, #2e3b42);
	 background-image: -moz-linear-gradient(top, #607D8B, #2e3b42);
	 background-image: -ms-linear-gradient(top, #607D8B, #2e3b42);
	 background-image: -o-linear-gradient(top, #607D8B, #2e3b42);
	 background-image: linear-gradient(to bottom, #607D8B, #2e3b42);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#607D8B, endColorstr=#2e3b42);


 }

 #new_comment{
	 padding:0 10px;
	 width:100%;
 }
 .comment_status{
     top: -33px;
     position: relative;
     z-index: 1000;
     color: #6cdb3e;
 }
.textarea_com{
	width: 100%;
	color: black;
	border-radius: 28px;
	outline: none;
	padding-top: 12px;

}
 .button_blue{
	 margin: 1%;
	 outline: none;
	 border-radius: 31px;
	 font-size: 16px;
	 font-family: arial, helvetica, sans-serif;
	 padding: 4px 23px 4px 23px;
	 text-decoration: none;
	 display: inline-block;
	 text-shadow: -1px -1px 0 rgb(0, 16, 44);
	 font-weight: bold;
	 color: #FFFFFF;
	 background-color: #0089ff;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
	 background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
	 background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
	 background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
	 filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
 }

 .button_blue:hover{
	 margin:1%;
	 outline: none;
	// border: 2px solid #168bb0;
	 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
	 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
	 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
	 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
	 background-image: -o-linear-gradient(top, #26759e, #133d5b);
	 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
 }
 .button_blue.width{
	 width: max-content;
	 min-width: 114px;
	 font-size: 13px;
     padding: 4px 10px 4px 10px;
 }
 .bet-helpers-note{
	 height: 190px;
	 position:absolute;
	 margin-top: 10px;
	 -webkit-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	 width: 7vw;
	 float: left;
	// margin-top: -350px

 }
 .helper-btn{
	 -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	 box-shadow: 0px 1px 0px 0px #fff6af;
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffe423), color-stop(1, #ea9100));
	 background: -webkit-linear-gradient(top, #ffe423 5%, #ea9100 100%);
	 background: -o-linear-gradient(top, #ffe423 5%, #ea9100 100%);
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffe423), to(#ea9100));
	 background: linear-gradient(to bottom, #ffe423 5%, #ea9100 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	 background-color: #ffab23;
	 border-radius: 6px;
	 border: 2px solid white;
	 -webkit-box-shadow: 1px 1px 3px black;
	 box-shadow: 1px 1px 3px black;
	 display: inline-block;
	 font-weight: 800;
	 text-decoration: none;
	 /* text-shadow: 2px 1px 0px #56380375; */
	 border-radius: 8px;
	 cursor: pointer;
	 font-family: Arial;
	 font-size: 18px;
	 padding: 8% 10%;
	 text-decoration: none;
	 outline: none;
	 margin: 1vh 0;
	 /*width: 7vw;*/
	 line-height: 100%;
	 //color: #020202;
	 text-shadow: brown 2px 2px, brown 0px 1px, brown 0px 1px, brown 0px 1px, brown 0px 1px, brown 0px 1px, brown 0px 1px;

 }
 .helper_text{
	 cursor: pointer;
	 font-size: 1.2vw;
	 line-height: 75%;
	 -webkit-filter: drop-shadow(1px 1px 2px black);
	 filter: drop-shadow(1px 3px 1px black);

 }
 .helper-btn:hover {
	 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	 background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	 background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	 background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	 background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	 background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	 background-color:#ffab23;
 }
 .helper-btn:active {
	 position:relative;
	 top:1px;
 }

 .button_blue_back {
	 outline: none;
	 border-radius: 31px;
	 font-size: 16px;
	 font-family: arial, helvetica, sans-serif;
	 padding: 9px 19px 9px 19px;
	 text-decoration: none;
	 display: inline-block;
	 text-shadow: -1px -1px 0 rgb(0, 16, 44);
	 font-weight: bold;
	 color: #FFFFFF;
	 background-color: #3093c7;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#005670));
	 background-image: -webkit-linear-gradient(top, #009688, #005670);
	 background-image: -o-linear-gradient(top, #009688, #005670);
	 background-image: linear-gradient(to bottom, #009688, #005670);
	 filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#009688, endColorstr=#005670);
 }
 .button_blue_back:hover{

	 outline: none;
	 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#008476), to(#133d5b));
	 background-image: -webkit-linear-gradient(top, #008476, #133d5b);
	 background-image: -moz-linear-gradient(top, #008476, #133d5b);
	 background-image: -ms-linear-gradient(top, #008476, #133d5b);
	 background-image: -o-linear-gradient(top, #008476, #133d5b);
	 background-image: linear-gradient(to bottom, #008476, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#133d5b);
 }
 .button_orange{
	 margin:4%;
	 outline: none;
	// border:2px solid #FFBF01; -webkit-border-radius: 31px; -moz-border-radius: 31px;border-radius: 31px;font-size:16px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;

	  background-color: #ffdf28; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFEA30), to(#ffb70a));
	 background-image: -webkit-linear-gradient(top, #FFEA30, #e7a50a);
	 background-image: -moz-linear-gradient(top, #FFEA30, #e7a50a);
	 background-image: -ms-linear-gradient(top, #FFEA30, #e7a50a);

	 background-image: -o-linear-gradient(top, #FFEA30, #f29b3f);
	 background-image: linear-gradient(to bottom, rgba(255, 220, 35, 0.88), rgb(220, 111, 0));
	 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFEA30, endColorstr=#e7a50a);
 }

 .button_orange:hover{
	 margin:4%;
	 outline: none;
	// border:2px solid #CE9A01;
	 background-color: #FFC92B; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFC92B), to(#CC6210));
	 background-image: -webkit-linear-gradient(top, #FFC92B, #CC6210);
	 background-image: -moz-linear-gradient(top, #FFC92B, #CC6210);
	 background-image: -ms-linear-gradient(top, #FFC92B, #CC6210);
	 background-image: -o-linear-gradient(top, #FFC92B, #CC6210);
	 background-image: linear-gradient(to bottom, #FFC92B, #CC6210);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFC92B, endColorstr=#CC6210);
 }
 .button_orange1{
     margin:4%;
     outline: none;
    // border:2px solid #FFBF01; -webkit-border-radius: 31px; -moz-border-radius: 31px;border-radius: 31px;font-size:16px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;

     background-color: #ffdf28; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFEA30), to(#ffb70a));
     background-image: -webkit-linear-gradient(top, #FFEA30, #e7a50a);
     background-image: -moz-linear-gradient(top, #FFEA30, #e7a50a);
     background-image: -ms-linear-gradient(top, #FFEA30, #e7a50a);

     background-image: -o-linear-gradient(top, #FFEA30, #f29b3f);
     background-image: linear-gradient(to bottom, rgba(255, 220, 35, 0.88), rgb(220, 111, 0));
     filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFEA30, endColorstr=#e7a50a);
 }
.row{
	padding:0;
	margin: 0;
}
footer {
  margin-bottom: 0 !important;
  margin-top: 80px;
}
footer p {
  margin: 0;
  padding: 0;
}
span.icon {
	margin: 0 5px;
	color: #D64541;
}
h2 {
	color: #BDC3C7;
 text-transform: uppercase;
  letter-spacing: 1px;
}
.mrng-60-top {
	margin-top: 60px;
}
 .btn_back{
	 width: 100%;
	 margin-top: 1%;
 }
/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px 5px;
	padding: 14px 15px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0,0,0,.2), 0 1px 0 rgba(0,0,0,.2);
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	border-radius: 10px;
	box-shadow: inset 0px 0px 10px 2px #ffffffc4;
}
 .glist {
	 margin: 0 auto;
	 display: -ms-flexbox;
	 display: flex;
	 width: fit-content;
	 /*width: 66%;*/
	 align-items: center;
	 -ms-flex-align: center;
	 -ms-flex-pack: distribute;
	 /* transform: translateX(9%); */
	 z-index: 1000;
	 position: sticky;
	  }
 .cont_game.office{
	 width: 100vw;
	 left:0;
	 top: 29px;
 }
.cont_game{
	z-index: 120;
	left: 37vw;
	position: relative;
	top: 83px;
}
 .cont_play_game {
	// padding: 0 231px 4px 0;
	 width: 90vw;
	 position: relative;
	 top: 37px;
	 left: 73px;
	 height: 98vh;
 }
 /*.cont_game{
	width: 100%;
	height: 100%;
}*/
 .unity .unity-container canvas {
	 width: 100%;

	 height: auto;

 }

a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
/*a.animated-button:link:hover, a.animated-button:visited:hover {
	//height: 450%;
}*/
/* Sandy Buttons */

a.animated-button {
	color: #FFF;
	background-color:#0089ff;
}


a.animated-button:hover {	
	color: #FFF;
	background-color: #39a3ff;

}

.container{
	display:inherit;
	flex-direction: row;

}

.rightBar{

   //background-image: url(../../images/notepadGameImages/3.png);
	background-repeat: no-repeat;
	background-size:cover;
   /* height:47vh;*/
	flex:1
}
.leftBar{
	background-color:white;
	/*height:47vh;*/
	flex:1;
    margin-right:12px

}
.notepadBrowserImg{
	height: 47vh
}

.notepad{
	background-image: url(../../images/notepadGameImages/n++.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	color: blue;
	padding-top: calc(80%/3.8);
	padding-left: calc(80%/6.8)
}

pre{
	text-align:left;
	padding:0;
}

.questionContianer{
	display: flex;
	justify-content: space-around;
    margin-top:30px;
}

.btnContainer{
	width: 100%;
	display: flex;
}

.btn{
	width: calc(96%/4);
}

.alertContainer{
	position: fixed;
	z-index: 50;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	top: -2px;
	left: 0;
}

.red{
	background-color: rgba(204, 9, 9, 0.4);
}


.green{
	//background-color: rgba(129, 255, 27, 0.4);
	background-color:rgba(86, 222, 22, 0.24);
}

#points{
	position: relative;
	font-size: 3.7em;
	color:  #206693;;
}

p{
	margin:0;	
}

@media screen and (max-width: 992px){
	.questionContianer{
	//	flex-wrap:wrap-reverse;
		//width: 100%;

	}
	.btnContainer{
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 0 auto;
	}

	

	
	.btn{
		width: 45%
	}
}

@media screen and (min-width: 450px) and (max-width: 768px){
	.btnContainer{
		display:flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}
	.container {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;

	}
    .rightBar{

        margin-bottom: 16px;
        height:47vh;
    }
    .bet-helpers-note {
        margin-top:18px;

    }
    .headerButtons {
        position: absolute;
        display: flex;
        align-items: center;
        /* right: 30%; */
        justify-content: space-between;
    }
    a.animated-button:link, a.animated-button:visited{
        margin: 10px;
    }
    .coins_details{
        position: absolute;
        width: 40vw;
        top: 107px;
        padding-top: 2vmax 0 3vmax;
        z-index: 4;
        background-color: #004255;
        padding: 2vmax;
        border: 4px solid #e07d00;
        border-radius: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
    .leftBar{
       margin-right:0
    }
    .headerButtons {
        right: 2%;

    }

}
 @media screen and (max-width: 450px){
     .btnContainer{
         display:flex;
         flex-direction: column!important;
         align-items: center;
         margin: 27px auto;
     }
     .container {
         display: flex;
         flex-direction: column-reverse;
         width: 100%;

     }
     .rightBar{
         background-position-x:-43px;
         margin-bottom: 16px;
          height:47vh;
     }
     .bet-helpers-note {
         margin-top:18px;

     }
     .headerButtons {
         position: absolute;
         display: flex;
         align-items: center;
         right: 0;
         justify-content: space-between;
     }
     a.animated-button:link, a.animated-button:visited{
         margin: 4px;
     }
     .coins_details{
         position: absolute;
         width: 40vw;
         top: 107px;
         padding-top: 2vmax 0 3vmax;
         z-index: 4;
         background-color: #004255;
         padding: 2vmax;
         border: 4px solid #e07d00;
         border-radius: 15px;
         left: 50%;
         transform: translateX(-50%);
     }
     .leftBar{
         margin-right:0
     }


 }